.theme-default-content {
  /* 设置内容区域的最大宽度 */
  max-width: 100% !important;

  //所有图片都居中
  img {
    display: block;
    margin: auto;
  }

  // 引用块改为绿色
  blockquote {
    color: var(--c-text);
    padding: 0.5rem 1rem;
    border-left: 8px solid #2f845e;
    background-color: var(--c-bg-darker);
    border-radius: 4px;

    //引用快立马的行内代码改为橙色
    code {
      color: #e96900;
      margin: 0 2px;
    }
  }

  //加粗文字改颜色
  strong {
    background-color: inherit;
    color: #b5302e;
  }

  //悬浮菜单
  .catalog {
    position: fixed;
    z-index: 999;
    right: 20px;
    top: 150px;
    border-radius: 25px;
    opacity: 0.3;
    max-height: 70%;
    overflow-y: scroll;
  }
  .catalog::-webkit-scrollbar {
    display: none;
  }
  .catalog:hover {
    opacity: 1;
    background: var(--c-bg);
  }
  .catalog ul {
    list-style: none;
    padding: 0 15px 0 15px;
  }
  .catalog a:hover {
    font-weight: normal;
  }
}
